/*// 

TIMWORK V 0.1 

mobile - 420px


//*/

/*////////////////////
    ELEMENT OVERRIDES
////////////////////*/

* {
  box-sizing: border-box;
  font-family: 'Amiri', serif;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

figure {
  margin: 0;
}

/*////////////////////
    TYPOGRAPHY
////////////////////*/


/*////////////////////
    BASE COLOURS
////////////////////*/

/*////////////////////
    FRAMEWORK CLASSES
////////////////////*/

/*// FLEXBOX //*/

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1 1 auto;
}

/*// GRID LAYOUT //*/

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
}

.wrapper div {
  text-align: center;
}

.wrapper>div:nth-child(1) {
  background-color: lightblue;
}
.wrapper>div:nth-child(2) {
  background-color: lightgoldenrodyellow;
}
.wrapper>div:nth-child(3) {
  background-color: lightgray;
}
.wrapper>div:nth-child(4) {
  background-color: lightcoral;
}
.wrapper>div:nth-child(5) {
  background-color: lightgreen;
}
.wrapper>div:nth-child(6) {
  background-color: lightcyan;
}


/*// PERSISTANT CLASSES //*/

.center {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.remove-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.intro {}

/*// IMAGE CLASSES //*/

.landscape {
  margin: auto;
  text-align: center;
  overflow: hidden;
  height: 100%;
}
.landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.center-image {
  margin: auto;
  text-align: center;
}
.center-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.portrait {
  
}

/*////////////////////
    SITE-SPECIFIC CLASSES
////////////////////*/

/*// HEADER //*/

#header-nav-list {
  flex-flow: column wrap;
  max-width: 900px;
}

.header-nav-item {
  flex: 1 1 auto;
}

#header-logo {
  height: 50vh;
  width: 60%;
  margin: auto;
}

#header-logo .center-image {
  position: relative;
  top: 7%;
  height: 90%;
  max-width: 300px;
}

#header-background {
  height: 50vh;
}

/*// OVERLAY MENU //*/

#nav-check-label,
.overlay,
.header-nav a {
  transition: all .3s;
}

input {
  display: none;
}

input:checked + #nav-check-label:before {
  content: "\f00d";
}

input:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

#nav-check-label {
  position: fixed;
  top: 0.625em;
  right: 0.625em;
  z-index: 99;
  padding: .72em 0;
  width: 3em;
  text-align: center;
  color: #454545;
  cursor: pointer;
}

#nav-check-label:before {
  content: "\f0c9";
  font: 1.55em fontAwesome;
}

#nav-check-label:hover {
  color: #f4f4f4;
}

.overlay {
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

#header-nav-list {
  margin: auto;
  padding: 0;
  list-style-type: none;
}

#header-nav-list li a {
  display: block;
  padding: .25em 0;
  color: #fff;
  font-size: 1.85em;
  text-align: center;
  text-decoration: none;
}

#header-nav-list li a:focus,
.nav li a:hover {
  color: #e74c3c;
}

#header-nav-list li a:active {
  color: #d62c1a;
}

@media screen and (max-width:1023px) {

  .overlay {
    position: fixed;
    width: 100vw;
    z-index: 98;
    top: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.8);
    opacity: 0;
    visibility: hidden;
  }

  #header-nav-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50vh;
  }
}

@media screen and (min-width:1024px) {
  
  #nav-check-label {
    display: none;
  }

  input:empty ~ .overlay {
    visibility: visible;
    opacity: 1;
  }

  .overlay {
    background-color: lightgray;
  }

  #header-nav-list {
    flex-flow: row wrap;
  }

}
